## Heroes Of Pymoli Data Analysis

Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).
Our peak age demographic falls between 20-24 with a total purchase price of $1,114.06.
The total value spend by the top spender is $18,96.

In [498]:
#Dependencies
import pandas as pd

In [499]:
#Set path for file
data_file = "Resources/purchase_data.csv"

In [500]:
#Reading data
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [501]:
# Total Number of Players
total_players = data_file_df["SN"].nunique()
total_players_df = pd.DataFrame([{"Total Players":total_players}])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [502]:
# Number of Unique Items
unique_items = len(data_file_df["Item Name"].unique())
unique_items

179

In [503]:
# Average Purchase Price
avg_pp = data_file_df["Price"].mean()
avg_pp

3.050987179487176

In [504]:
# Total Number of Purchases
total_np = data_file_df["Purchase ID"].count()
total_np

780

In [505]:
# Total Revenue
total_rev = data_file_df["Price"].sum()
total_rev

2379.77

In [506]:
# Frame and Format
purchase_analysis = pd.DataFrame({"Unique_Items":[179],"Avg_Price":[3.05],"Total_Purchases":[780],"Total_Revenue":[237977]})
purchase_analysis["Avg_Price"]= purchase_analysis["Avg_Price"].map("${:.2f}".format)
purchase_analysis["Total_Revenue"]= purchase_analysis["Total_Revenue"].map("${:}".format)
purchase_analysis

   Unique_Items Avg_Price  Total_Purchases Total_Revenue
0           179     $3.05              780       $237977

## Gender Demographics

In [507]:
#Percentage and Count of Male, Female Players and Others
gender_count = data_file_df["Gender"].value_counts()
print(gender_count)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [508]:
#Percentage and Count of Male, Female Players and Others
gender_grouped = data_file_df.groupby("Gender")
players_gender = gender_grouped["SN"].nunique()
pct_players = (players_gender / total_players)*100
print(players_gender)
print(pct_players)

gender_summary = pd.DataFrame({"Total Players": players_gender, "Percentage of Players": pct_players})
gender_summary

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64
Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

                       Total Players  Percentage of Players
Gender
Female                            81              14.062500
Male                             484              84.027778
Other / Non-Disclosed             11               1.909722

## Puchasing Analysis (Gender)

In [509]:
# Number of puchases by gender
purchase_gender = gender_grouped["Purchase ID"].count()
purchase_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [510]:
# Average prince of purchases by gender
avg_price_gender = gender_grouped["Price"].mean()
avg_price_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [511]:
# Total purchase value by gender
total_purchase_gender = gender_grouped["Price"].sum()
total_purchase_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [512]:
# Average purchase total per person by gender
avg_purchase_gender = (gender_grouped["Price"].sum()/total_players)
avg_purchase_gender

Gender
Female                   0.628368
Male                     3.416042
Other / Non-Disclosed    0.087135
Name: Price, dtype: float64

In [513]:
# Print purchasing summary
purchasing_summary = pd.DataFrame({"Purchase Count": purchase_gender, "Average Purchase Price": avg_price_gender, "Total Purchase Price": total_purchase_gender, "Average Total Purchase per Person": avg_purchase_gender})
purchasing_summary

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,0.628368
Male,652,3.017853,1967.64,3.416042
Other / Non-Disclosed,15,3.346000,50.19,0.087135

## Age Demographics

In [514]:
# Create bins of 4 years
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [515]:
# Purchase count by age
data_file_df["Age Group"] = pd.cut(data_file_df["Age"], bins=bins, labels=labels)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [516]:
# Create age groupby
age_grouped = data_file_df.groupby("Age Group")
players_age = age_grouped["SN"].nunique()

In [517]:
# Number of puchases by age
purchase_age = age_grouped["Purchase ID"].count()
purchase_age

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [518]:
# Average prince of purchases by age
avg_price_age = age_grouped["Price"].mean()
avg_price_age

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [519]:
# Total purchase value by age
total_purchase_age = age_grouped["Price"].sum()
total_purchase_age

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [520]:
# Average purchase total per person by age
avg_purchase_age = (age_grouped["Price"].sum()/total_players)
avg_purchase_age

Age Group
<10      0.133906
10-14    0.143715
15-19    0.716823
20-24    1.934132
25-29    0.508681
30-34    0.371528
35-39    0.256372
40+      0.066389
Name: Price, dtype: float64

In [521]:
# Print age demographics summary
age_demo_summary = pd.DataFrame({"Purchase Count": purchase_age, "Average Purchase Price": avg_price_age, "Total Purchase Price": total_purchase_age, "Average Total Purchase per Person": avg_purchase_age})
age_demo_summary

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,0.133906
10-14,28,2.956429,82.78,0.143715
15-19,136,3.035956,412.89,0.716823
20-24,365,3.052219,1114.06,1.934132
25-29,101,2.900990,293.00,0.508681
30-34,73,2.931507,214.00,0.371528
35-39,41,3.601707,147.67,0.256372
40+,13,2.941538,38.24,0.066389

## Top Spenders

In [522]:
# Create a groupby on SN
sn_grouped = data_file_df.groupby("SN")

In [523]:
# Purchase count by SN
purchase_sn = sn_grouped["Purchase ID"].count()
purchase_sn

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [524]:
# Average prince of purchases by SN
avg_price_sn = sn_grouped["Price"].mean()
avg_price_sn

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [525]:
 # Total purchase value by SN
total_purchase_sn = sn_grouped["Price"].sum()
total_purchase_sn

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [526]:
# Print top 5 spenders summary
top_spenders_summary_df = pd.DataFrame({"Purchase Count": purchase_sn, "Average Purchase Price": avg_price_sn, "Total Purchase Price": total_purchase_sn})
top_spenders_summary_df.sort_values("Purchase Count", ascending=False, inplace=True)
top_spenders_summary_df.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Price
SN
Lisosia93                 5                3.792000                 18.96
Iral74                    4                3.405000                 13.62
Idastidru52               4                3.862500                 15.45
Asur53                    3                2.480000                  7.44
Inguron55                 3                3.703333                 11.11

## Most Popular Items

In [527]:
# Create .loc and groupby
popular_df = data_file_df.loc[:,["Item ID", "Item Name", "Price"]]
pop_grouped = data_file_df.groupby(["Item ID", "Item Name"])
popular_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [528]:
# 5 most popular items by purchase count
pop_purchase = pop_grouped["Age"].count()
pop_purchase

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Age, Length: 179, dtype: int64

In [529]:
# 5 most popular items by price
pop_price = pop_grouped["Price"].mean()
pop_price

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [530]:
# 5 most popular items by total purchase value
pop_value = pop_grouped["Price"].sum()
pop_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [531]:
# Print 5 most popular items summmary
pop_summary_df= pd.DataFrame({"Purchase Count": pop_purchase,"Item Price": pop_price, "Total Purchase Value": pop_value})
pop_summary_df.sort_values("Purchase Count", ascending=False, inplace=True)
pop_summary_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

In [532]:
# Sort above table by total purchase value
pop_summary_df.sort_values("Total Purchase Value", ascending=False, inplace=True)
pop_summary_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80